<div class="container">
    <div class="form">
        <br>
        <h3 class="mb-3 forest-text text-center">Post an add</h3>
        <form enctype="multipart/form-data" #petForm="ngForm">
            <div class="form-group">
                <label for="type">Type of animal</label>
                <select name="type" class="form-control" placeholder="type of animal" required autofocus>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="rabbit">Rabbit</option>
                    <option value="parrot">Parrot</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Pet name</label>
                <input class="form-control" type="text" name="name" placeholder="pet name" required autofocus>
            </div>
            <label for="image">Image</label>
            <div class="input-group">
                <div class="input-group-prepend mb-3">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" id="image" name="image" accept="image/*" >
                    <label class="custom-file-label" for="image">Choose image</label>
                </div>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input class="form-control" type="text" name="age" placeholder="age" required>
            </div>
            <div class="form-group">
                <label for="breed">Breed</label>
                <input class="form-control" type="text" name="breed" placeholder="breed" required>
            </div>
            <div class="form-group">
                <div>Sex</div>
                <input type="radio" id="male" name="sex" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="sex" value="female">
                <label for="female">Female</label><br>
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input class="form-control" type="text" name="color" placeholder="color" required>
            </div>
            <div class="form-group">
                <label for="good in home with">Good in home with</label>
                <input class="form-control" type="text" name="good in home with" placeholder="good in home with"
                    required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="5" type="text" name="description" placeholder="description"
                    required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-light btn-block" routerLink="/ads/new/medical-record">Next</button>
           </div>
        </form>
    </div>
</div>