<div class="container reset-pass text-center" *ngIf="isTokenValid">
    <p>Enter your new Password!</p>
    <form class="login-form" #f="ngForm" novalidate name="form" (ngSubmit)="f.form.valid && onSubmit()">
        <div class="form-group">
            <input type="password" id="password" class="form-control" name="new password" [(ngModel)]="newPassword"
                placeholder="new password" required minlength="6" #password="ngModel" />
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">New password is required</div>
                <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password again" placeholder="confirm password"
                #passwordagain="ngModel" data-match="#password" [(ngModel)]="confirmPassword" />
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && passwordagain.invalid">
                <div *ngIf="passwordagain.errors.required">Password confirm is required</div>
            </div>
            <div class="alert alert-danger" *ngIf="!match">
                Passwords don't match
            </div>
        </div>
        <button type="submit" [disabled]="isSubmited">Submit</button>
        <!-- <div class="alert alert-warning" *ngIf="signupForm.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
        </div> -->
    </form>
    <div *ngIf=isSuccessful>
        <p class="text-success">Password succesfully changed! </p>
        <p>Click<a [routerLink]="['/login']">HERE</a> to Login</p>
    </div>
    <div *ngIf=isFailure>
        <p class="text-danger">Something went wrong</p>
    </div>
</div>
<div class="container reset-pass text-center" *ngIf="isTokenInValid">
    <p>Your Token has expired!</p>
    <p>Please CLICK <a [routerLink]="['/login/forgot-password']">HERE</a> to make a new password reset request!</p>
</div>
<div class="container reset-pass text-center" *ngIf="!isTokenInValid && !isTokenValid ">
    <p>Something went wrong!</p>
</div>