<div class="container my-5">
<h1 class="text-muted pb-3 text-center">Contact us</h1>
<img src="../../assets/DOG-BARK-ABOUT.jpg" class="img-fluid rounded mx-auto d-block pb-5" alt="photo_contact">
<hr class="solid">
<h2 class="text-muted pt-3 pb-1 text-center" >First Things First</h2>
<h4 class="font-weight-light pb-5 text-center">If you have a question about PetFriends.com or a pet ad you see on the site,
     you may find the answer you're looking for in the list of
    <a  [routerLink]="['/faqs']">Frequently Asked Questions</a>.
      If you have any other questions or feedback, feel free to contact us via email or telephone.
       All our contact information is listed below.
</h4>
<hr class="solid">
<h2 class="text-muted pt-3 pb-3 text-center">Contact Info</h2>
<div class="row text-center pb-3">
    <div class="col">
        <fa-icon [icon]="imgLocation" size="3x" ></fa-icon>
        <h4 class="pt-2 pb-2">Address</h4>
        <h5 class="font-weight-light">PetFriends.com</h5>
        <h5 class="font-weight-light">North Macedonia, Skopje 1000</h5>
    </div>
    <div class="col">
        <fa-icon [icon]="imgPhone" size="3x"></fa-icon>
        <h4 class="pt-2 pb-2">Phone</h4>
        <h5 class="font-weight-light">(+389) 78-888-888</h5>
    </div>
    <div class="col">
        <fa-icon [icon]="imgEnvelope" size="3x"></fa-icon>
        <h4 class="pt-2 pb-2">Email</h4>
        <h5 class="font-weight-light">info@petFriends.com</h5>
    </div>
</div>
</div>