<div class="d-flex justify-content-center" *ngIf="loading" style="margin-top: 20px;">
    <div class="spinner-border" role="status" style=" color: #88BBD6;">
    </div>
</div>
<div class="container w-75 mx-auto" *ngIf="!loading && logged && !empty">
    <h2 class="title">Liked by you ({{size}})</h2>
    <div class="infinite-scroll-area">
        <ul id="infinite-scroll-list" class="infinite-scroll-list">
            <div class="row">
                <li *ngFor="let p of sublist"class="col-lg-4 col-md-6 col-12">
                        <pet-search-list-item [pet]=p></pet-search-list-item>
                 
                    <!-- <div class="card">
                        <div class="card__image-holder">
                            <a [routerLink]="['/pets',p.id]"><img class="card__image" src="{{p.image}}"
                                    alt="pet image" /></a>
                        </div>
                        <div class="caption" style="margin-bottom: 0px;">
                            <div class="card-title">
                                <div class="row">
                                    <div class="md-9">
                                        <h2 style="font-weight: lighter; margin-left: 15px;">
                                            <a [routerLink]="['/pets',p.id]" style="color: white">
                                                {{p.name}}</a>
                                        </h2>
                                    </div>
                                    <div class="md-3">
                                        <button (click)="onLike(p.id)" class="heart"style="background-color: #88BBD6;">
                                            <span>
                                                <fa-icon [icon]="heart"></fa-icon>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </li>
            </div>
        </ul>
        <div *ngIf="!stop">
            <button id="more-btn" class="more-btn button-style-2" (click)="onClick()">SHOW MORE</button>
        </div>
    </div>
</div>
<div class="message">
    <div class="empty" *ngIf="!loading && empty && logged">
        <h2 style="margin-bottom: 20px;">No favorites here yet</h2>
        <p>When you find a pet you love add it to your favorites list by tapping
            <fa-icon [icon]="heart" style="color: crimson;"></fa-icon>
        </p>
        <button class="button-style-2" [routerLink]="['/pets']">Find a pet</button>
    </div>

    <div class="notlogged" *ngIf="!logged">
        <h2 style="margin-bottom: 20px;">Join PetFriends to Favorite Pets</h2>
        <h3 style="margin-bottom: 15px;">Create an account:</h3>
        <button [routerLink]="['/sign-up']" class="button-style-2">Sign up</button>
        <p class="message">Already have an account? <a [routerLink]="['/login']" style="color:#dcc7aa">Log In</a>
    </div>
</div>