<div class="container" style="width: 75%; margin: auto;">
    <h3 style="text-align: center; margin: 20px;">Privacy Policy</h3>
    <h5>SCOPE OF THIS NOTICE</h5>
    <p style="text-align:justify;">Please read this privacy notice (“Notice”) carefully to understand our policies and
        practices regarding your personal data
        and how we will treat it. This Notice applies to individuals who interact with Nestlé services as consumers
        (“you”).
        This Notice explains how your personal data (which some jurisdictions may refer to as “personal information”) is
        collected, used, and disclosed by Nestlé Purina PetCare Company and third parties acting on our behalf (
        collectively “Nestlé”, “We”, “Us”). It also tells you how you can access and update your personal data
        and make certain choices about how your personal data is used.
        This Notice covers both our online and offline data collection activities, including personal data that We
        collect
        through our various channels such as websites, apps, third-party social networks, consumer affairs, points of
        sale,
        and events where this policy is provided to you. Please note that We might combine personal data from different
        sources
        (website, offline event), including by combining personal data that were originally collected by different
        Nestlé entities
        or Nestlé partners. We also may combine data from third parties with data We already have.
        In some instances, if you do not provide personal data to Us, We may not be able to provide you with certain
        goods
        and/or services. We will indicate to you when this is the case, for example, by stating so on our registration
        forms.
    </p>
    <ol>
        <li>
            <h5> PERSONAL DATA THAT WE COLLECT ABOUT YOU</h5>
            <p>We collect various types of information from you, as described below.</p>
            <ul>
                <li>
                    <p>Personal Contact Data: Any data you provide to Us that would allow Us to contact you, such as
                        your name, postal address, e-mail address, social network details, or phone number.</p>
                </li>
                <li>
                    <p>
                        Demographic Data & Interests: Any data that describes your demographic or behavioral
                        characteristics. Examples include your date of birth, age or age range, gender, geographic
                        location (e.g., ZIP code), favorite products, hobbies and interests, and household or lifestyle
                        data. This may include data about your health, medical conditions, nutrition, and exercise
                        habits and goals. It may include data about your children’s genders, feeding styles, birthdates,
                        or expected due dates.
                    </p>
                </li>
                <li>
                    <p>
                        Account Login Data: Any data that is required to give you access to your specific account
                        profile. Examples include your login ID/email address, screen name, password in unrecoverable
                        form, and/or security question and answer.
                    </p>
                </li>
            </ul>
        </li>
        <li>
            <h5>HOW WE COLLECT PERSONAL DATA ABOUT YOU</h5>
            <p>
                We collect personal data directly from you, when you choose to provide it to us. For example, We collect
                data when you place an order with us. We collect data when you register on one of our websites or apps.
                We collect data when you become a member of a loyalty program. We collect data when you sign up for our
                emails. We collect data from printed or digital registrations and similar forms that We collect via, for
                example, postal mail, in-store demos, contests, and other promotions or events. We collect data when you
                inquire about adopting a pet through a Petfinder member adoption organization, or create a saved pet
                search alert. We collect data if you fill out a survey or use other tools on your websites or apps. We
                also collect data if you contact Us through our websites or apps, via email, or through social media.
            </p>
        </li>
        <li>
            <h5> PERSONAL DATA OF CHILDREN</h5>
            <p>
                We do not knowingly solicit or collect personal data from children below the age of 13. If you are a
                parent or legal guardian and think that your child under 13 has given Us data, you can contact Us in
                writing or by email as provided below under the section titled CONTACT. Please mark your inquiries
                “COPPA Information Request.”
            </p>
        </li>
        <li>
            <h5>USES FOR YOUR PERSONAL DATA</h5>
            <p>
                Consumer service. We use your personal data for consumer service purposes, including responding to your
                inquiries. This typically requires the use of certain personal contact data and information regarding
                the reason for your inquiry (e.g., order status, technical issue, product question/complaint, general
                question, etc.).
            </p>
            <p>
                Contests, marketing, and other promotions. We may use your personal data to provide you with information
                about goods or services (e.g., marketing communications or campaigns or promotions). This can be done
                via email, ads, SMS, phone calls, and postal mailings to the extent permitted by applicable laws. Some
                of our campaigns and promotions are run on third-party websites and/or social networks. For more
                information about our contests and other promotions, please see the official rules or details posted
                with each contest/promotion. We may use your friend’s email address to send them information you request
                through a “tell-a-friend” feature.
            </p>
        </li>
        <li>
            <h5>DATA PROTECTION AND RETENTION</h5>
            <p>
                We use reasonable and appropriate security measures as required by applicable law. The transmission of
                information via the Internet is, unfortunately, not completely secure and despite our efforts to protect
                your personal data, We cannot guarantee the security of the data during transmission through our
                websites/apps. It is important that you also play a role in keeping your personal data safe and secure.
                When signing up for an online account, please be sure to choose an account password that would be
                difficult for others to guess and never reveal your password to anyone else. You are responsible for
                keeping this password confidential and for any use of your account. If you use a shared or public
                computer, never choose to have your login ID/email address or password remembered and make sure to log
                out of your account every time you leave the computer. You should also make use of any privacy settings
                or controls We provide you in our websites/apps.
            </p>
            <p>
                Retention of personal data. We keep personal data as long as it is necessary or relevant for the
                practices described in this Notice. We also keep personal data as otherwise required by law.
            </p>
        </li>
        <li>
            <h5>CHANGES TO THIS NOTICE</h5>
            <p>
                If We change the way We handle your personal data, We will update this Notice. We reserve the right to
                make changes to our practices and this Notice at any time; please check back frequently to see if there
                have been any updates or changes to our Notice.
            </p>
        </li>
        <li>
            <h5>CONTACT</h5>
            <p>
                To contact us about this Notice and/or our privacy practices, please contact Us at
                petfriendsmk@gmail.com or call us on 078888888
            </p>
        </li>
    </ol>
</div>