<div class="container">
    <div class="form" *ngIf="logged">
        <form class="login-form" #f="ngForm" novalidate name="form" (ngSubmit)="f.form.valid && onSubmit()">
            <div class="form-group">
                <input type="password" class="form-control" name="old password" [(ngModel)]="oldPassword"
                    placeholder="old password" required minlength="6" #oldpassword="ngModel" />
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && oldpassword.invalid">
                    <div *ngIf="oldpassword.errors.required">Old password is required</div>
                    <div *ngIf="oldpassword.errors.minlength">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control" name="new password" [(ngModel)]="newPassword"
                    placeholder="new password" required minlength="6" #password="ngModel" />
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">New password is required</div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password again" placeholder="confirm password"
                    #passwordagain="ngModel" data-match="#password" [(ngModel)]="confirmPassword" />
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && passwordagain.invalid">
                    <div *ngIf="passwordagain.errors.required">Password confirm is required</div>
                </div>
                <div class="alert alert-danger" *ngIf="!match">
                    Passwords don't match
                </div>
            </div>
            <button type="submit">Submit</button>
            <div style="margin-top: 10px; color: cadetblue;" *ngIf="loading" class="spinner-border text-primary"></div>
            <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="error">
                    {{error.error}}
                </div>
            </div>
        </form>
    </div>
    <div class="notlogged" *ngIf="!logged">
        <h2 style="margin-bottom: 20px;">Join PetFriends</h2>
        <h3 style="margin-bottom: 15px;">Create an account:</h3>
        <button [routerLink]="['/sign-up']">Sign up</button>
        <p class="message">Already have an account? <a [routerLink]="['/login']">Log In</a>
    </div>
</div>