li{
    width: 33%;
}
ul{
  padding: 0px;
  margin:0px;
}
@media screen and (max-width: 992px) {
   li {
      width: 50%;
    }
  }

@media screen and (max-width: 600px) {
    li {
       width: 100%;
     }
   }