<div class="container-fluid row" style="margin-left: 0px; margin-right: 0px;">
    <div class="card col-lg-6 col-md-12">
        <img src="../../assets/kittens_cats_cute_28146.jpg" class="card-img-top" alt="..." style="height:400px;"
            [routerLink]="['/articles/cats/page/1']">
        <div class="card-body" style="text-align: center;">
            <h5 class="card-title" [routerLink]="['/articles/cats/page/1']">Cat Adoption Articles</h5>
            <p class="card-text">Helpful insights on what to expect</p>
            <a class="button-style-1" [routerLink]="['/articles/cats/page/1']">
                Read More</a>
        </div>
    </div>
    <div class="card col-lg-6 col-md-12">
        <img src="../../assets/dog-puppy-on-garden-royalty-free-image-1586966191.jpg" class="card-img-top" alt="..."
            style="height:400px;" [routerLink]="['/articles/dogs/page/1']">
        <div class="card-body" style="text-align: center;">
            <h5 class="card-title" [routerLink]="['/articles/dogs/page/1']">Dog Adoption Articles</h5>
            <p class="card-text">Learn more about caring for your new dog</p>
            <a class="button-style-1" [routerLink]="['/articles/dogs/page/1']">Read More</a>
        </div>
    </div>
</div>