button{
    background-color: white;
    color:cadetblue;
    border: 0px;
}
button:hover,button:active,button:focus {
    border: 2px solid cadetblue;
}

img:hover{
    cursor: pointer;
}
h5:hover{
    cursor: pointer;
}