<div class="container-fluid row" style="margin-left: 0px; margin-right: 0px;">
    <div class="card col-lg-6 col-md-12">
        <img src="../../assets/kittens_cats_cute_28146.jpg" class="card-img-top"
            alt="..." style="height:400px;" (click)="onClickCats()">
        <div class="card-body" style="text-align: center;">
            <h5 class="card-title" (click)="onClickCats()">Cat Adoption Articles</h5>
            <p class="card-text">Helpful insights on what to expect</p>
            <button (click)="onClickCats()">
                Read More</button>
        </div>
    </div>
    <div class="card col-lg-6 col-md-12">
        <img src="../../assets/dog-puppy-on-garden-royalty-free-image-1586966191.jpg"
            class="card-img-top" alt="..." style="height:400px;" (click)="onClickDogs()">
        <div class="card-body" style="text-align: center;">
            <h5 class="card-title" (click)="onClickDogs()">Dog Adoption Articles</h5>
            <p class="card-text">Learn more about caring for your new dog</p>
            <button (click)="onClickDogs()">Read More</button>
        </div>
    </div>
</div>