<form #petForm="ngForm" enctype="multipart/form-data" (ngSubmit)="onSearchFilter()" >
    <div class="form-group">
      <label for="name">Pet name</label>
      <input class="form-control" type="text" name="name" placeholder="pet name"  [(ngModel)] = "petName" required autofocus>
    </div>
    <div class="form-group">
        <label for="type">Type of animal</label>
        <select name="type" class="form-control" placeholder="type of animal"  [(ngModel)] = "petName"  required autofocus>
            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
            <option value="Rabbit">Rabbit</option>
            <option value="Parrot">Parrot</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-group">
      <label for="breed">Breed</label>
      <input class="form-control" type="text" name="breed"  placeholder="breed"  [(ngModel)] = "petBreed" required>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" type="text" name="age" placeholder="age"  [(ngModel)] = "petAge" required>
    </div>
    
    <div class="form-group">
      <label for="type">Gender</label>
      <select #petSexSelect name="type" class="form-control"   placeholder="sex"  [(ngModel)] = "petSex" required autofocus>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
      </select>
    </div>
    <div class="form-group">
        <label for="color">Color</label>
        <input class="form-control" type="text" name="color"  placeholder="color" [(ngModel)] = "petColor" required>
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-light btn-block"  type="submit">Search</button>
    </div>
</form>