<div class="mt-3">
  <button class="btn btn-lg btn-light btn-block d-sm-none" (click)="collapse=!collapse" type="button"
    aria-expanded="false" aria-label="Toggle Filters">
    Filters
  </button>
  <div [hidden]="collapse">
    <div class="text-center">
      <div>Name</div>
      <input class="input-bg-white-bc-blue-txt-cyan" type="text" name="name" placeholder="Pet Name" [(ngModel)]="petName" required
        autofocus>
    </div>
    <div class="form-group text-center">
      <div>Type</div>
      <select name="type" class="select-bg-white-bc-blue-txt-cyan" placeholder="type of animal" [(ngModel)]="petType" required
        autofocus>
        <option *ngFor="let petType of petTypeValues" value="{{petType}}">{{petType}}</option>
      </select>
    </div>
    <div class="form-group text-center">
      <div>Breed</div>
      <input class="input-bg-white-bc-blue-txt-cyan" type="text" name="breed" placeholder="Pet Breed" [(ngModel)]="petBreed" required>
    </div>
    <div class="form-group text-center">
      <div>Age</div>
      <select name="age" class="select-bg-white-bc-blue-txt-cyan" placeholder="age of animal" [(ngModel)]="petAge" required
        autofocus>
        <option *ngFor="let petAge of petAgeValues" value="{{petAge}}">{{petAge}}</option>
      </select>
    </div>

    <div class="form-group text-center">
      <div>Sex</div>
      <select name="sex" class="select-bg-white-bc-blue-txt-cyan" placeholder="sex of animal" [(ngModel)]="petSex" required
        autofocus>
        <option *ngFor="let petSex of petSexValues" value="{{petSex}}">{{petSex}}</option>
      </select>
    </div>
    <div class="form-group text-center">
      <div>Color</div>
      <select name="color" class="select-bg-white-bc-blue-txt-cyan" placeholder="color of animal" [(ngModel)]="petColor"
        required autofocus>
        <option *ngFor="let petColor of petColorValues" value="{{petColor}}">{{petColor}}</option>
      </select>
    </div>
    <div>
      <button class="button-bg-white-bc-blue-txt-cyan btn-block" (click)="onSearchFilter()">Search</button>
    </div>
  </div>
</div>