.bg-cover {
    background-attachment: static;

    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: underline;
}
a:hover{
     border: 3px solid white;
     color: white;
}
