<div class="jumbotron">
    <div class="container">
    <h4 class="display-4 text-center text-white">Create happiness, save lives!</h4>
    <hr class="my-4">
    <p class="lead text-white">Find the perfect pet for you with our new pet finder quiz</p>
    <p class="text-white">Answer a few questions and be one step closer to finding your perfect pet</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/pet/finder/quiz']" role="button">Start Quiz</a>
    </p>
</div>
  </div>