<div class="jumbotron bg-cover text-white" style="background-image: 
 url(../../../assets/home-page.jpg); height: 400px;">
  <div class="container" style="text-align: right;">
    <div style="display: inline-block; text-align: center;">
      <h3 class="display-4">Find the Right Pet for You</h3>
      <p> Take our interactive new quiz to find the perfect pet to adopt!</p>
      <hr>
      <p class="lead">
        <a [routerLink]="['/pet/finder/quiz']" role="button" style="color:white">Start Quiz</a>
      </p>
    </div>
  </div>
</div>