<div class="jumbotron bg-cover text-white"
  style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),
 url(https://www.petassure.com/petassure/file-streams/page/DKhmRtazcw1FPjHr00Myg4caring-for-pets-teaches-children-responsibility.jpg.jpg)">
  <div class="container">
    <h3 class="display-4 text-center">Why Adopt a Pet over Buying?</h3>
    <p style="text-align: center;">
      Did you know that over 1,000 people per hour run a search right here looking to adopt a pet? Pet
      adoption is
      quickly becoming the preferred way to find a new dog, puppy, cat or kitten. Best of all, there
      are so many
      benefits when you adopt a dog or adopt a cat over buying. For instance, pet adoption will almost
      always be
      more
      affordable than buying a puppy for sale from a breeder or finding a kitten for sale from a
      litter.
  </p>
    <hr>
    <p class="lead">Find the perfect pet for you with our new pet finder quiz</p>
    <p class="lead">
      <button class="btn  btn-lg" [routerLink]="['/pet/finder/quiz']" role="button">Start Quiz</button>
    </p>
  </div>
</div>

      <!-- style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://i.pinimg.com/originals/f4/93/9f/f4939f38acfab7d910d6b1b00b873876.jpg)"> -->
