<div class="container w-75 mx-auto" *ngIf="isLogged">
  <div id="vcard">
    <div id="card-content">
      <div id="profile">
        <span class="avatar">
          <span class="typicons-user icon"></span>
          <span class="info">
            <h2>{{currentUser.username}}</h2>
          </span>
        </span>
        <div style="align-content:center; margin: 10px;">
          <p *ngIf="currentUser.description" style="font-style: italic;">{{currentUser.description}}</p>
          <p *ngIf="!currentUser.description" style="font-style: italic;">No bio</p>
          <a class="edit" routerLink="/edit-profile">
            <fa-icon [icon]="edit" class="icon">Edit</fa-icon> Edit Profile
          </a>
          <a class="edit" routerLink="/edit-profile/password" style="margin-left:10px;">
            <fa-icon [icon]="lock" class="icon"></fa-icon>Change Password
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-my-ads *ngIf="!admin"></app-my-ads>
  <app-my-articles *ngIf="admin"></app-my-articles>
</div>

<div class="container">
  <div class="notlogged" *ngIf="!isLogged">
    <h2 style="margin-bottom: 15px;">Join PetFriends</h2>
    <h3 style="margin-bottom: 15px;">Create an account:</h3>
    <div class="buttonSignUp mx-auto pb-1">
      <button [routerLink]="['/sign-up']">Sign up</button>
    </div>
    <p class="message">Already have an account? <a [routerLink]="['/login']">Log In</a>
  </div>
</div>