@import url(https://weloveiconfonts.com/api/?family=typicons);

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}


#card-content {
  height: 100%;
}

#profile {
  padding-top: 50px;
  text-align: center;
}
span.avatar span.icon{
  display: inline-block;
  color: #414141;
  font-size: 72px;
  line-height: 100px;
  background: #88BBD6;
  border: solid 3px rgba(255,255,255, .2);
  overflow: hidden;
  padding-top: 1px;
  width: 90px;
  height: 90px;
  border-radius: 46px;
}
span.info {
  padding-top: 10px;
  display: block;
  font-size: 18px;
  color: #88BBD6;
  font-weight: lighter;
}

.notlogged{
  margin: auto;
  padding: 10% 0 0;
  text-align: center;
  height: 600px;
}

.notlogged button {
text-transform: uppercase;
width: 100%;
padding: 15px;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
}
.edit:hover{
  cursor: pointer;
}
@media screen and (max-width: 767px) {
 .notlogged{
   width: 100%;
   padding-left: 10px;
   padding-right: 10px;
 }
}
@media screen and (min-width: 768px) {
  .notlogged{
    width: 360px;
  }
}