<div class="d-flex justify-content-center" *ngIf="loading" style="margin-top: 20px;">
    <div class="spinner-border" role="status" style=" color: #88BBD6;">
    </div>
</div>
<div class="container" *ngIf="!loading && !empty">
    <h2 class="title">Your ads ({{size}})</h2>
    <div class="infinite-scroll-area">
        <ul id="infinite-scroll-list" class="infinite-scroll-list">
            <div class="row">
                <li *ngFor="let p of sublist" class="item col-md-6 col-lg-4 col-sm-12" style="margin-bottom: 20px;">
                    <div class="card text-center">
                        <div class="card__image-holder">
                            <a [routerLink]="['/pets',p.id]"><img class="card__image" src="{{p.image}}"
                                    alt="pet image" /></a>
                        </div>
                        <div class="caption" style="margin-bottom: 0px;">
                            <div class="card-title">
                                <div class="text-center">
                                        <h2 style="font-weight: lighter;">
                                            <a [routerLink]="['/pets',p.id]" style="color: white">
                                                {{p.name}}</a>
                                        </h2>
                                </div>
                                <div class="buttons row">
                                    <div class="col-4">
                                    <a routerLink='/edit/{{p.id}}'>
                                        <fa-icon [icon]="edit" class="icon">Edit</fa-icon>
                                    </a>
                                </div>
                                    <div class="col-4">
                                    <a (click)="onDelete(p.id)">
                                        <fa-icon [icon]="trash" class="icon"></fa-icon>
                                    </a>
                                </div>
                                    <div class="col-4">
                                    <a routerLink="/requests/{{p.id}}">
                                        <fa-icon [icon]="users" class="icon">Edit</fa-icon>
                                    </a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
        <div *ngIf="!stop">
            <button id="more-btn" class="more-btn button-style-2" (click)="onClick()">SHOW MORE</button>
        </div>
    </div>
</div>
<div *ngIf="empty" class="!loading && empty">
    <h2 style="margin-bottom: 20px;">You haven't published any ads yet</h2>
    <p>
        Publish your first ad
    </p>
    <button [routerLink]="['/ads/new']" class="more-btn button-style-2">Publish ad</button>
</div>