.delete{
    margin: auto;
    width: 360px;
    padding: 8% 0 0;
    text-align: center;
    height: 600px;
}

.delete button {
  text-transform: uppercase;
  outline: 0;
  background: cadetblue;
  width: 100%;
  border: 3px solid cadetblue;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 15px;
  margin: 15px;
}
.delete button:hover,.delete button:active,.delete button:focus {
    border: 3px solid #0c6c92;
}
#yes{
    background-color:rgb(222,84,74);
    border: 3px solid rgb(222,84,74);
}
#yes:hover{
    border: 3px solid darkred;
}