<div *ngIf="logged">
    <app-pet-form (petForm)="setPet($event)"></app-pet-form>

    <div *ngIf="petForm && !mrForm">
        <app-medical-record-form (mrForm)="setMR($event)"></app-medical-record-form>
    </div>

    <div *ngIf="mrForm">
        <app-contact-form (contactForm)="setContact($event)"></app-contact-form>
    </div>
    <div class="d-flex justify-content-center" *ngIf="loading" style="margin-top: 20px;">
        <div class="spinner-border" role="status" style=" color: cadetblue;">
        </div>
    </div>
</div>

<div *ngIf="!logged" class="notlogged">
    <h2 style="margin-bottom: 20px;">Join PetFriends to post an add</h2>
    <h3 style="margin-bottom: 15px;">Create an account:</h3>
    <div class="buttonSignUp">
        <button class="button-style-2" [routerLink]="['/sign-up']">Sign up</button>
    </div>
    <p class="message">Already have an account? <a [routerLink]="['/login']" style="color:#dcc7aa">Log In</a>
</div>