.notlogged {
  margin: auto;
  width: 360px;
  padding: 8% 0 0;
  text-align: center;
  height: 600px;
}

.notlogged button {
  text-transform: uppercase;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}


@media screen and (max-width: 767px) {
  .notlogged {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .notlogged {
    width: 360px;
  }
}