.notlogged {
  margin: auto;
  width: 360px;
  padding: 8% 0 0;
  text-align: center;
  height: 600px;
}

.notlogged button {
  text-transform: uppercase;
  outline: 0;
  background: cadetblue;
  width: 100%;
  border: 3px solid cadetblue;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 15px;
}

.notlogged button:hover, button:active, button:focus {
  border: 3px solid #0c6c92;
}

@media screen and (max-width: 767px) {
  .notlogged {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .notlogged {
    width: 360px;
  }
}