.footer-card{
    margin: 0px;
    padding: 0px;
    background-color: #88BBD6;
    color: white;
}
@media screen and (max-width: 767px) {
    .glyphicon {
        font-size: 1.5em;   
        display: inline;  
        margin: 15px;
    }
}

@media screen and (min-width: 768px) {
    .glyphicon {
        font-size: 1.7em;
        display: block;
    }
}