<footer class="page-footer jumbotron footer-card">
  <div class="container text-left">
    <div class="row mx-auto">
      <div class="col-md-3 col-6 mx-auto">
        <h6 class="font-weight-bold mt-3 mb-3">Pets</h6>
        <ul class="list-unstyled ml-20">
          <li class="mb-1">
            <a class="text-dark" [routerLink]="['/pets']" [queryParams]="{page: 1}">Find a Pet</a>
          </li>
          <li class="mb-1">
            <a href="#!" class="text-dark">Publish Ad</a>
          </li>
          <li class="mb-1">
            <a href="#!" class="text-dark">Pet Alert</a>
          </li>
          <li class="mb-1">
            <a href="https://www.amazon.com/dp/1616289554?pldnSite=1" class="text-dark" target="blank">Dog Manual</a>
          </li>
          <li>
            <a href="https://www.amazon.com/dp/1681881551?pldnSite=1" class="text-dark" target="_blank">Cat Manual</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-6 mx-auto">
        <h6 class="font-weight-bold mt-3 mb-3">Organization</h6>
        <ul class="list-unstyled">
          <li class="mb-1">
            <a href="#!" class="text-dark">About Us</a>
          </li>
          <li class="mb-1">
            <a href="#!" class="text-dark">Blog</a>
          </li>
          <li class="mb-1">
            <a class="text-dark" [routerLink]="['/contact']">Contact Us</a>
          </li>
          <li>
            <a class="text-dark" [routerLink]="['/faqs']">FAQs</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-6 mx-auto">
        <h6 class="font-weight-bold mt-3 mb-3">Information</h6>
        <ul class="list-unstyled">
          <li class="mb-1">
            <a [routerLink]="['/sitemap']" class="text-dark">Site Map</a>
          </li>
          <li class="mb-1">
            <a [routerLink]="['/privacy-police']" class="text-dark">Privacy Policy</a>
          </li>
          <li>
            <a href="/terms-of-service" class="text-dark">Terms of Service</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-6 mx-auto">
        <h6 class="font-weight-bold mt-3 mb-3">Shelter/Rescue</h6>
        <ul class="list-unstyled">
          <li class="mb-1">
            <a [routerLink]="['/login']" class="text-dark">Log In</a>
          </li>
          <li>
            <a [routerLink]="['/sign-up']" class="text-dark">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="divider">
    <div class="mx-auto text-center pb-3">
      <form>
        <h5 class="my-3">Sign up for Our Newsletter</h5>
        <input class="form-control form-control-sm w-50 rounded d-inline" type="text" placeholder="Enter Email"
          aria-label="Enter Email">
        <button type="button" class="button-bg-white-bc-blue-txt-cyan d-inline">Send</button>
        <!-- <i class="fas fa-search" aria-hidden="true"></i> -->
      </form>
    </div>
  </div>
  <div class="footer-copyright text-center py-1" style="background-color: #31898f;">
    © 2020 - 2020 PetFriends.com
  </div>
</footer>