<footer class="page-footer" style="background-color: #8CC6F7;">
  <div class="container text-center text-md-left">
    <div class="row mx-auto">
      <div class="col-md-2 mx-auto">
        <h6 class="font-weight-bold mt-3 mb-3">Pets</h6>
        <ul class="list-unstyled ml-20">
          <li class="mb-1">
            <a class="text-dark" [routerLink]="['/pets']" [queryParams]="{page: 1}">Find a Pet</a>
          </li>
          <li class="mb-1">
            <a href="#!" class="text-dark">Publish Ad</a>
          </li>
          <li class="mb-1">
            <a href="#!" class="text-dark">Pet Alert</a>
          </li>
          <li class="mb-1">
            <a href="https://www.amazon.com/dp/1616289554?pldnSite=1" class="text-dark" target="blank">Total Dog Manual</a>
          </li>
          <li>
            <a href="https://www.amazon.com/dp/1681881551?pldnSite=1" class="text-dark" target="_blank">Total Cat Manual</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mx-auto">
        <h6 class="font-weight-bold mt-3 mb-3">Shelter/Rescue</h6>
        <ul class="list-unstyled">
          <li class="mb-1">
            <a href="#!" class="text-dark">Log In</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Sign Up</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mx-auto">
        <h6 class="font-weight-bold mt-3 mb-3">Our Organization</h6>
        <ul class="list-unstyled">
          <li class="mb-1">
            <a href="#!" class="text-dark">About Us</a>
          </li>
          <li class="mb-1">
            <a href="#!" class="text-dark">Blog</a>
          </li>
          <li>
            <a class="text-dark" [routerLink]="['/contact']">Contact Us</a>
          </li>
          <li class="mb-1">
            <a class="text-dark" [routerLink]="['/faqs']">FAQs</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mx-auto">
        <h6 class="font-weight-bold mt-3 mb-3">Information</h6>
        <ul class="list-unstyled">
          <li class="mb-1">
            <a href="#!" class="text-dark">Site Map</a>
          </li>
          <li class="mb-1">
            <a href="#!" class="text-dark">Privacy Policy</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Terms of Service</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <form>
          <h4 class="font-weight-bold mt-3 mb-3">Sign up for Our Newsletter</h4>
          <input class="form-control form-control-sm w-75 rounded d-inline" type="text" placeholder="Enter Email"
            aria-label="Enter Email">
          <button type="button" class="btn btn-primary d-inline">Send</button>
          <!-- <i class="fas fa-search" aria-hidden="true"></i> -->
        </form>
      </div>
    </div>
    <hr class="divider">
    <h5 class="text-center mb-3">
      text text text text text text text text text text text text text text text text text text text text text text text
    </h5>
  </div>
  <div class="footer-copyright text-center py-3 " style="background-color: #72a7d4;">
    © 2020 - 2020 PetFriends.com - All Rights Reserved
  </div>
</footer>