<div class="container" style="width: 75%; margin: auto;">
    <h3 style=" text-align: center; margin: 20px;">PetFriends Terms of Service</h3>
    <p>
        Thank you for visiting this website (the “Site” or “website”). Please read the Terms and Conditions contained in
        this document carefully since any use of this site constitutes your acceptance of the Terms and Conditions set
        out herein. If you do not agree to these terms and conditions, please do not use this website.

        Throughout this site, the terms “we”, “us”, “our”, and “PetFriends” refer to PetFriends.
        “You” refers to any person accessing and/or using this website.

        Please Note: These terms and conditions may be revised by PetFriends by updating this posting – Please read them
        carefully.
    </p>
    <ol>
        <li>
            <h6>Privacy Notice</h6>
            <p>
                Any personal information or material sent to this website are subject to the terms and conditions set
                out in our Privacy Policy. We encourage you to read and refer to it before you submit any personal
                information to this Site. The Privacy Policy is a part of these terms and conditions.
            </p>
        </li>
        <li>
            <h6> Accuracy, completeness and timeliness of information</h6>
            <p>
                We are not responsible if the information that we make available on this website is not accurate or
                complete. Any reliance upon the material on this website shall be at your own risk. You agree that it is
                your responsibility to monitor any changes to the material and the information contained on this
                website.
            </p>
        </li>
        <li>
            <h6>Submissions to this Site</h6>
            <p>
                Any non-personal communication or material you submit to this website by electronic mail, upload, or
                otherwise, including any data, questions, comments, suggestions or the like (“Submissions”) are, and
                will be treated as, non-confidential and non-proprietary. Anything you submit or post becomes the
                property of PetFriends and PetFriends may use and reproduce such Submission freely, and for any purpose.
                Specifically, PetFriends is free to use for any purposes whatsoever (including but not limited to the
                developing, manufacturing, advertising and marketing of products) any ideas, artwork, inventions,
                developments, suggestions or concepts contained in any Submission you send to this website. Such use
                shall not include advertising targeted to breeders. Any such use is without compensation to the party
                submitting information. By making a Submission, you are also warranting that you own the
                material/content submitted, that it is not defamatory and that Petfinder’s use will not violate any
                third party’s rights or otherwise place us in breach of any applicable laws. PetFriends is under no
                obligation to use the information submitted.
            </p>
        </li>
        <li>
            <h6> Intellectual Property Rights</h6>
            <p>
                All copyright, trademarks and other intellectual property rights in all text, images and other materials
                on this website are the property of Petfinder or are included with the permission of the relevant owner.

                You are permitted to browse this website, reproduce extracts by way of printing, downloading to a hard
                disk or for the purposes of distribution to other individuals. This is only to be done on the proviso
                that you keep intact all copyright and other proprietary notices and that the trademark notice below
                appears on such reproductions. No reproduction of any part of this website may be sold or distributed
                for commercial gain nor shall it be modified or incorporated in any other work, publication or website.
            </p>
        </li>
        <li>
            <h6> Links to Other Websites</h6>
            <p>
                Links on the Petfinder websites may take you outside the Petfinder network and systems and Petfinder
                accepts no responsibility for the content, accuracy or function of these other third party websites. The
                links are provided in good faith and Petfinder cannot be held responsible for any subsequent change in
                other third party websites to which we provide a link. The inclusion of any link to other websites does
                not imply endorsement by Petfinder. We highly recommend that you make yourself aware of and carefully
                read the legal and privacy notices of all other websites that you visit.
            </p>
        </li>
    </ol>
</div>