#question:hover, #question:active,#question:focus {
  background-color: #dcc7aa;
  cursor: pointer;
  color: white;
}
#question{
  width: 100%;
  padding:10px;
  font-size: 16x;
}
.p-custom{
  background-color: white; 
  padding: 8px; 
  color: #aa967b; 
  border-radius: 6px; 
}

@media screen and (max-width: 767px) {
  .button-faq-custom{
    font-size: 8px;
  }
  .p-custom{
    font-size: 12px;
  }
  
}

@media screen and (min-width: 768px) {
  .button-faq-custom{
    font-size: 16px;
  }
  .p-custom{
    font-size: 20px;
  }
  
  
}

