<div class="container forgot-pass text-center">
    <p class="mt-5 mb-1">Enter your Email</p>
    <p class="mt-1">A confirmation link will be sent to your email-address</p>
    <form class="login-form" #signupForm="ngForm" (ngSubmit)="signupForm.form.valid && onSubmit()" novalidate>
        <div class="form-group my-3">
            <input type="email" class="form-control" name="email" [(ngModel)]="emailAddress" #email="ngModel"
                placeholder="email" />
            <div class="alert-danger" *ngIf="signupForm.submitted && email.invalid">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                    Email must be a valid email address
                </div>
            </div>
        </div>
        <button class="button-style-2 my-5 forgot-button-custom" style="padding:10px;" type="submit">Send</button>
        <div *ngIf=isSuccessful>
            <p class="text-success">Email sent, Please check your inbox! </p>
        </div>
        <div *ngIf=isFailure>
            <p class="text-danger">That email does not exist!</p>
        </div>
    </form>
</div>