
@media screen and (max-width: 767px) {
    .forgot-pass {
      width: 100%;
      padding-left:10px;
      padding-right:10px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .forgot-pass {
      width: 500px;
    }
  }