<div class="container">
    <h3 style="margin: 30px;">User who are interesting in adopting this pet</h3>
    <ul class="list">
        <div class="row">
            <li *ngFor="let u of users" class="col-md-4">
                <div class="card">
                    <div >
                        <img class="team-headshot"
                            src="https://www.kindpng.com/picc/m/269-2697881_computer-icons-user-clip-art-transparent-png-icon.png">
                        <h2 style="color: cadetblue; text-align: center;">{{u.username}}</h2>
                        <h6>About</h6>
                        <p *ngIf="u.description" style="font-style: italic;">{{u.description}}</p>
                        <p *ngIf="!u.description" style="font-style: italic;">No bio</p>
                    </div>
                    <div style="text-align: center; ">
                        <span>
                            <fa-icon [icon]="email"></fa-icon>
                            {{u.email}}
                        </span>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>