<div class="d-flex justify-content-center" *ngIf="loading" style="margin-top: 20px;">
    <div class="spinner-border" role="status" style=" color: #88BBD6;">
    </div>
</div>
<div *ngIf="articles" style="width: 75%; margin: auto;">
    <ul style="list-style: none; margin-top: 30px;">
        <li *ngFor="let a of articles.content">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center p-3 mr-0 pr-0">
                        <a [routerLink]="['/article',a.id]"><img src="{{a.image}}" alt="Article image"
                                class="img-thumbnail show_img">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a [routerLink]="['/article',a.id]">
                                <h3 class="card-title" style="color: #88BBD6;">{{ a.title}}
                                </h3>
                            </a>
                            <p class="card-text" [innerHtml]="a.description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <div class="row">
            <div class="col-md-6">
                <button *ngIf="prev" (click)="onPrev()">
                    <fa-icon [icon]="prevIcon" style="color: #88BBD6;"></fa-icon> PREV
                </button>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <button *ngIf="next" (click)="onNext()">
                    NEXT <fa-icon [icon]="nextIcon" style="color: #88BBD6;"></fa-icon>
                </button>
            </div>
        </div>
    </ul>
</div>