<div *ngIf="!error">
    <app-pet-form-edit *ngIf="!petForm" [pet]="pet" (petForm)="setPet($event)"></app-pet-form-edit>

    <div *ngIf="petForm && !mrForm">
        <app-mr-form-edit [pet]="pet" (mrForm)="setMR($event)"></app-mr-form-edit>
    </div>

    <div *ngIf="mrForm">
        <app-contact-form-edit [contact]="pet.contact" (contactForm)="setContact($event)"></app-contact-form-edit>
    </div>
    <div class="d-flex justify-content-center" *ngIf="loading" style="margin-top: 20px;">
        <div class="spinner-border" role="status" style=" color: cadetblue;">
        </div>
    </div>
</div>
<div *ngIf="error" class="alert-danger">
    <p>{{errorText.error}}</p>
</div>