<div class="container">
  <h2 *ngIf="loading" style="text-align: center; color: cadetblue; margin: 20px;"> Loading...</h2>
  <div class="row">
    <div class="col-md-3">
      <pet-search-filters
       [petName]="petName" [petType]="petType" [petBreed]="petBreed" [petAge]="petAge" [petSex]="petSex" [petColor]="petColor">
      </pet-search-filters>
    </div>
    <div class="col-md-9"> 
      <div *ngIf="!loading && items && items.length>0">
        <pet-search-list [items]="items"></pet-search-list>
      </div>
      <div *ngIf="!loading && items.length==0">No items found</div>
    </div>
  </div>
  <div *ngIf="totalItems>0" >
    <app-pagination [totalItems]="totalItems" [currentPage]="currentPage" [pageSize]="pageSize"></app-pagination>
  </div>
</div>